build.bat
run.bat
__pycache__/main.cpython-313.pyc
build/*
dist/SeiraiPPTAssistant.exe
SeiraiPPTAssistant.spec
dist/*
__pycache__/*
venv/*  
controllers/__pycache__/*
ui/__pycache__/*
entationAssistant'; & 'hDevSeiraiPresentationAssistant.venvScriptspython.exe' 'cUsersrezen.traeextensionsms-python.debugpy-2025.14.1-win32-x64bundledlibsdebugpylauncher' '50980' '--' 'HDevSeiraiPresentationAssistantmain.py' 
entationAssistant'; & 'hDevSeiraiPresentationAssistant.venvScriptspython.exe' 'cUsersrezen.traeextensionsms-python.debugpy-2025.14.1-win32-x64bundledlibsdebugpylauncher' '50980' '--' 'HDevSeiraiPresentationAssistantmain.py' 
